@model HREmroll.Models.Holiday
@{
    ViewData["Title"] = "AddHoliday";

}

@using (@Html.BeginForm())
{@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4> Add Holiday </h4>
</div>



<div>
    @Html.ActionLink("Back to Holiday List", "GetAllHolidays")


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })




    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.CMP_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.CMP_ID, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.CMP_ID, "", new { @class = "text-danger" })
            </td>
            <td>
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.HOLIDAY_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.HOLIDAY_NAME, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.HOLIDAY_NAME, "", new { @class = "text-danger" })
            </td>
        </tr>

        @*<tr>
            <td>
                @Html.LabelFor(model => model.STATE, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.DropDownListFor(model => model.STATE, new SelectList(ViewBag.Data, "BRANCH_ID", "BRANCH_NAME"), "Select State")
            </td>

            <td>
            </td>
        </tr>*@
        <tr>
            <td>
                @Html.LabelFor(model => model.BRANCH_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.DropDownListFor(model => model.BRANCH_ID, new SelectList(ViewBag.Data, "BRANCH_ID", "BRANCH_NAME"), "Select Branch")
            </td>

            <td>
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.MULTIPLE_HOLIDAY, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.CheckBoxFor(model => model.MULTIPLE_HOLIDAY)
            </td>

            <td>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.HOLIDAY_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.HOLIDAY_DATE, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.HOLIDAY_DATE, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.MESSAGE_TEXT, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.MESSAGE_TEXT, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.MESSAGE_TEXT, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.HOLIDAY_CATEGORY, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.RadioButtonFor(model => model.HOLIDAY_CATEGORY, "National", false)@Html.Label("National")
                @Html.RadioButtonFor(model => model.HOLIDAY_CATEGORY, "Festival", false)@Html.Label("Festival")
            </td>

        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.REPEAT_ANNUALLY, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.CheckBoxFor(model => model.REPEAT_ANNUALLY)
            </td>

            <td>
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.HALF_DAY, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.CheckBoxFor(model => model.HALF_DAY)
            </td>

            <td>
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.PRESENT_COMPLUSARY, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.CheckBoxFor(model => model.PRESENT_COMPLUSARY)
            </td>

            <td>
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.SMS, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.CheckBoxFor(model => model.SMS)
            </td>

            <td>
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.OPTIONAL_HOLIDAY, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.CheckBoxFor(model => model.OPTIONAL_HOLIDAY)
            </td>

            <td>
            </td>
        </tr>

        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="Save" class="btn btn-default" />
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>

    @ViewBag.Message
    <div class="form-group">

        <span>

        </span>
        <div class="col-md-10">


        </div>
    </div>


    <div class="form-group">

        <span>

        </span>
        <div class="col-md-10">




        </div>
    </div>
    <div class="form-group">
        @Html.HiddenFor(model => model.Holiday_ID)
    </div>

    @*<div class="form-group">
        @Html.HiddenFor(model => model.CREATED_DATE)
    </div>*@

    @*<div class="form-group">
        @Html.HiddenFor(model => model.MODIFIED_DATE)
    </div>*@

    <div class="form-group">
        @Html.HiddenFor(model => model.HOLIDAY_NAME)
    </div>


    @*
        <div class="form-group">
            @Html.LabelFor(model => model.BRANCH_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BRANCH_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BRANCH_ID, "", new { @class = "text-danger" })
            </div>
        </div>
    *@


    <div class="form-group">

        <span>

        </span>
        <div class="col-md-10">


        </div>
    </div>

    <div class="form-group">


        <span>

        </span>
        <div class="col-md-10">


        </div>
    </div>

    @*<div class = "form-group" >
            @Html.LabelFor(model => model.Address, htmlAttributes: new{@class = "control-label col-md-2"})
        <div class = "col-md-10" >
            @Html.EditorFor(model => model.Address, new{htmlAttributes = new{@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
            </div>*@
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">

    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10" style="color:green">


    </div>
</div>


}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js">

</script> 