
@model IEnumerable<HREmroll.Models.Location>
@{
    ViewData["Title"] = "GetActiveLocationDetails";
}


<p>
    <span>@Html.ActionLink("Add New Location", "AddLocation")</span>

    <span>@Html.ActionLink("InActive Location", "GetInActiveLocations")</span>

    <span>@Html.ActionLink("Back to Location List", "GetAllLocations")</span>

</p>

<table class="table" border="1" style="border-collapse: collapse;" cellpadding="3">

    <tr>

        @*<th border="1"> @Html.DisplayNameFor(model => model.LOCATION_NAME) </th>
            <th border="1"> @Html.DisplayNameFor(model => model.DESCRIPTION) </th>
            @* <th> @Html.DisplayNameFor(model => model.Address) </th>*@

        <th>@Html.DisplayNameFor(model => model.CMP_ID)</td>
        <th>@Html.DisplayNameFor(model => model.CMP_NAME)</td>
        <th>@Html.DisplayNameFor(model => model.BRANCH_NAME)</td>
        <th>@Html.DisplayNameFor(model => model.LOCATION_ID)</td>
        <th>@Html.DisplayNameFor(model => model.LOCATION_NAME)</td>
        <th>@Html.DisplayNameFor(model => model.CREATED_BY)</td>
        <th>@Html.DisplayNameFor(model => model.CREATED_DATE)</td>
        <th>@Html.DisplayNameFor(model => model.MODIFIED_BY)</td>
        <th>@Html.DisplayNameFor(model => model.MODIFIED_DATE)</td>
        <th>@Html.DisplayNameFor(model => model.ISACTIVE)</td>
        <th>@Html.DisplayNameFor(model => model.DESCRIPTION)</td>
        <th>@Html.DisplayName("Edit / Delete")</td>

    </tr>
    @foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.LOCATION_ID)
        <tr>
            <td>@Html.DisplayFor(model => item.CMP_ID)</td>
            <td>@Html.DisplayFor(model => item.CMP_NAME)</td>
            <td>@Html.DisplayFor(model => item.BRANCH_NAME)</td>
            <td>@Html.DisplayFor(model => item.LOCATION_ID)</td>
            <td>@Html.DisplayFor(model => item.LOCATION_NAME)</td>
            <td>@Html.DisplayFor(model => item.CREATED_BY)</td>
            <td>@Html.DisplayFor(model => item.CREATED_DATE)</td>
            <td>@Html.DisplayFor(model => item.MODIFIED_BY)</td>
            <td>@Html.DisplayFor(model => item.MODIFIED_DATE)</td>
            <td>@Html.DisplayFor(model => item.ISACTIVE)</td>
            <td>@Html.DisplayFor(model => item.DESCRIPTION)</td>

            <td>
                @Html.ActionLink("Edit", "EditLocation", new { id = item.LOCATION_ID })
                | @Html.ActionLink("Delete", "DeleteLocation", new { id = item.LOCATION_ID }, new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        </tr>

    }

</table> 