@model HREmroll.Models.City
@{
    ViewData["Title"] = "Add City";

}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/lib/jquery/dist/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            $("#Country").change(function () {
                var id = $(this).val();
                $("#state").empty();
                $.get("State_Bind", { COUNTRY_ID: id }, function (data) {
                    var v = "<option>---Select---</option>";

                    $.each(data, function (Value, Text) {
                        /*     debugger;*/
                        v += "<option value=" + Text.text + ">" + Text.value + "</option>";
                    });
                    /*$("#state").html(v);*/
                    $("#state").prop('disabled', false).html(v);
                    /*debugger;*/
                });
            });

            //$("#state").change(function () {
            //    var id = $(this).val();

            //    $.get("City_Bind", { STATE_ID: id }, function (data) {
            //        var v = "<option>---Select---</option>";
            //        $.each(data, function (i, v1) {
            //            v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
            //        });
            //        $("#city").html(v);
            //    });
            //});
        });
    </script>
</head>


@using (@Html.BeginForm())
{@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4> Add City </h4>
</div>




<div>
    @Html.ActionLink("Back to  City", "GetAll")




    <table>

        <tr>
            <td>
                @Html.LabelFor(model => model.COUNTRY_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @*@Html.DropDownListFor(model => model.COUNTRY_ID, new SelectList(ViewBag.Data, "COUNTRY_ID", "COUNTRY_NAME"), "Select Country")*@
                @Html.DropDownListFor(model => model.COUNTRY_ID, new SelectList(ViewBag.Country, "Value", "Text"), "Select Country", new { @id = "Country" })
            </td>
            <td>
                @Html.ValidationMessageFor(Model => Model.COUNTRY_ID, "", new { @class = "text-danger" })
            </td>
            <td>
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.STATE_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @*@Html.DropDownListFor(model => model.STATE_ID, new SelectList(ViewBag.Data1, "STATE_ID", "STATE_NAME"), "Select State")*@
                @Html.DropDownListFor(model => model.STATE_ID, new SelectList("", ""), new { @id = "state" })
            </td>
            <td>
                @Html.ValidationMessageFor(Model => Model.STATE_ID, "", new { @class = "text-danger" })
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CITY_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.CITY_NAME, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.CITY_NAME, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
            </td>
            <td>
            </td>
        </tr>

        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="Save" class="btn btn-default" />
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>

    @ViewBag.Message
    <div class="form-group">

        <span>

        </span>
        <div class="col-md-10">


        </div>
    </div>


    <div class="form-group">

        <span>

        </span>
        <div class="col-md-10">




        </div>
    </div>
    @*<div class="form-group">
            @Html.HiddenFor(model => model.STATE_ID)
        </div>*@


    <div class="form-group">
        @Html.HiddenFor(model => model.COUNTRY_NAME)
    </div>


    @*
        <div class="form-group">
            @Html.LabelFor(model => model.BRANCH_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BRANCH_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BRANCH_ID, "", new { @class = "text-danger" })
            </div>
        </div>
    *@


    <div class="form-group">

        <span>

        </span>
        <div class="col-md-10">


        </div>
    </div>

    <div class="form-group">


        <span>

        </span>
        <div class="col-md-10">


        </div>
    </div>

    @*<div class = "form-group" >
            @Html.LabelFor(model => model.Address, htmlAttributes: new{@class = "control-label col-md-2"})
        <div class = "col-md-10" >
            @Html.EditorFor(model => model.Address, new{htmlAttributes = new{@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
            </div>*@
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">

    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10" style="color:green">


    </div>
</div>


}

@*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
