@model HREmroll.Models.Company
@{
    ViewData["Title"] = "CompanyLogin";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

}

@using (@Html.BeginForm())
{@Html.AntiForgeryToken()

<html>
<head>
    <title>WellCome To EmRoll</title>
    <style>
        #Login_div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 2px solid;
            padding: 12px 12px;
            color: black;
            background-color: aliceblue;
        }
    </style>

</head>
<body>
    <div id="Login_div">

        @using (Html.BeginForm(FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline" width="2">Company Login</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.CMP_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CMP_ID, new SelectList(ViewBag.Data, "CMP_ID", "CMP_NAME"), "Select Company Name")
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("UserId")</td>
                    <td>@Html.Editor("UserId")</td>
                </tr>
                <tr>
                    <td></td>
                    <td> @Html.ValidationMessage("UserName")</td>
                </tr>
                <tr>
                    <td>@Html.Label("PassWord")</td>
                    <td>@Html.Editor("PassWord")</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessage("PassWord")
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ActionLink("Login", "GetAllCompany", "Company")
                        <input type="submit" name="sname" value="Submit" />
                        <input type="reset" name="rname" value="Reset" />
                    </td>
                </tr>
            </table>
        }
    </div>

</body>
</html>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js">

</script>