
@model IEnumerable<HREmroll.Models.Company>
@{
    ViewData["Title"] = "GetInActiveCompanyDetails";
}


<p>
    <span>@Html.ActionLink("Add New Company", "AddCompany")</span>
    <span>@Html.ActionLink("Active Company", "GetActiveCompany")</span>
    <span>@Html.ActionLink("Back to Company List", "GetAllCompany")</span>

</p>

<table class="table" border="1" style="border-collapse: collapse;" cellpadding="3">

    <tr>

        @*<th border="1"> @Html.DisplayNameFor(model => model.COMPANY_NAME) </th>
            <th border="1"> @Html.DisplayNameFor(model => model.DESCRIPTION) </th>
            @* <th> @Html.DisplayNameFor(model => model.Address) </th>*@

        <th>@Html.DisplayNameFor(model => model.CMP_ID)</td>
        <th>@Html.DisplayNameFor(model => model.CMP_NAME)</td>
        <th>@Html.DisplayNameFor(model => model.CMP_ADDRESS)</td>
        <th>@Html.DisplayNameFor(model => model.CITY)</td>
        <th>@Html.DisplayNameFor(model => model.STATE)</td>
        <th>@Html.DisplayNameFor(model => model.PINCODE)</td>
        <th>@Html.DisplayNameFor(model => model.COUNTRY)</td>
        <th>@Html.DisplayNameFor(model => model.PHONENO)</td>
        <th>@Html.DisplayNameFor(model => model.EMAIL)</td>
        <th>@Html.DisplayNameFor(model => model.DATEFORMAT)</td>
        <th>@Html.DisplayNameFor(model => model.FROMDATE)</td>
        <th>@Html.DisplayNameFor(model => model.WEBSITE)</td>
        <th>@Html.DisplayNameFor(model => model.PF_TRUST_NO)</td>
        <th>@Html.DisplayNameFor(model => model.PF_APPLICABLE)</td>
        <th>@Html.DisplayNameFor(model => model.ESIC_APPLICABLE)</td>
        <th>@Html.DisplayNameFor(model => model.TAN_NO)</td>
        <th>@Html.DisplayNameFor(model => model.ESIC_NO)</td>
        <th>@Html.DisplayNameFor(model => model.COMPANY_CODE)</td>
        <th>@Html.DisplayNameFor(model => model.DOMAIN_NAME)</td>
        <th>@Html.DisplayNameFor(model => model.LWF_NO)</td>
        <th>@Html.DisplayNameFor(model => model.DESCRIPTION)</td>
        <th>@Html.DisplayNameFor(model => model.CREATED_BY)</td>
        <th>@Html.DisplayNameFor(model => model.CREATED_DATE)</td>
        <th>@Html.DisplayNameFor(model => model.MODIFIED_BY)</td>
        <th>@Html.DisplayNameFor(model => model.MODIFIED_DATE)</td>
        <th>@Html.DisplayNameFor(model => model.ISACTIVE)</td>
        <th>@Html.DisplayName("Edit")</td>

    </tr>
    @foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.CMP_ID)
        <tr>
            <td>@Html.DisplayFor(model => item.CMP_ID)</td>
            <td>@Html.DisplayFor(model => item.CMP_NAME)</td>
            <td>@Html.DisplayFor(model => item.CMP_ADDRESS)</td>
            <td>@Html.DisplayFor(model => item.CITY)</td>
            <td>@Html.DisplayFor(model => item.STATE)</td>
            <td>@Html.DisplayFor(model => item.PINCODE)</td>
            <td>@Html.DisplayFor(model => item.COUNTRY)</td>
            <td>@Html.DisplayFor(model => item.PHONENO)</td>
            <td>@Html.DisplayFor(model => item.EMAIL)</td>
            <td>@Html.DisplayFor(model => item.DATEFORMAT)</td>
            <td>@Html.DisplayFor(model => item.FROMDATE)</td>
            <td>@Html.DisplayFor(model => item.WEBSITE)</td>
            <td>@Html.DisplayFor(model => item.PF_TRUST_NO)</td>
            <td>@Html.DisplayFor(model => item.PF_APPLICABLE)</td>
            <td>@Html.DisplayFor(model => item.ESIC_APPLICABLE)</td>
            <td>@Html.DisplayFor(model => item.TAN_NO)</td>
            <td>@Html.DisplayFor(model => item.ESIC_NO)</td>
            <td>@Html.DisplayFor(model => item.COMPANY_CODE)</td>
            <td>@Html.DisplayFor(model => item.DOMAIN_NAME)</td>
            <td>@Html.DisplayFor(model => item.LWF_NO)</td>
            <td>@Html.DisplayFor(model => item.DESCRIPTION)</td>
            <td>@Html.DisplayFor(model => item.CREATED_BY)</td>
            <td>@Html.DisplayFor(model => item.CREATED_DATE)</td>
            <td>@Html.DisplayFor(model => item.MODIFIED_BY)</td>
            <td>@Html.DisplayFor(model => item.MODIFIED_DATE)</td>
            <td>@Html.DisplayFor(model => item.ISACTIVE)</td>

            <td>
                @Html.ActionLink("Edit", "EditCompany", new { id = item.CMP_ID })
                @*
                    | @Html.ActionLink("Delete", "DeleteCompany", new { id = item.CMP_ID }, new { onclick = "return confirm('Are sure wants to delete?');" })
                *@
            </td>
        </tr>

    }

</table> 