
@model HREmroll.Models.Branch

@{
    ViewData["Title"] = "EditBranch";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@using (@Html.BeginForm())


{@Html.AntiForgeryToken()


<div>
    @Html.ActionLink("Back to Branch List", "GetAllBranchs")


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.HiddenFor(model => model.BRANCH_ID)
    </div>

    <div class="form-group">
        @Html.HiddenFor(model => model.CREATED_DATE)
    </div>

    <div class="form-group">
        @Html.HiddenFor(model => model.MODIFIED_DATE)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CMP_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CMP_ID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CMP_ID, "", new { @class = "text-danger" })
        </div>
    </div>
    @*
            <div class="form-group">
                @Html.LabelFor(model => model.BRANCH_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BRANCH_ID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BRANCH_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
            @Html.LabelFor(model => model.BRANCH_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">


                @Html.DropDownListFor(model => model.BRANCH_ID, new SelectList(ViewBag.Data, "BRANCH_ID", "BRANCH_NAME"), "Select Branch")

            </div>
        </div>

    *@




    @*
            @Html.DropDownList("BRANCH_ID", new SelectList(ViewBag.Data, "BRANCH_ID", "BRANCH_NAME" ))

        <div class="form-group">
            @Html.LabelFor(model => model.BRANCH_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BRANCH_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BRANCH_ID, "", new { @class = "text-danger" })
            </div>
        </div>
    *@
    <div class="form-group">
        @Html.LabelFor(model => model.BRANCH_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BRANCH_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BRANCH_NAME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ISACTIVE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.ISACTIVE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ISACTIVE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class = "form-group" >
            @Html.LabelFor(model => model.Address, htmlAttributes: new{@class = "control-label col-md-2"})
        <div class = "col-md-10" >
            @Html.EditorFor(model => model.Address, new{htmlAttributes = new{@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
            </div>
    *@
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10" style="color:green">
        @ViewBag.Message

    </div>
</div>


}


