
@model IEnumerable<HREmroll.Models.Branch>
@{
    ViewData["Title"] = "GetAllBranchs";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<p> @Html.ActionLink("Add New Branch", "AddBranch") </p>
@*
    <table class="table">
        <tr>

            <th> @Html.DisplayNameFor(model => model.BRANCH_NAME) </th>
            <th> @Html.DisplayNameFor(model => model.DESCRIPTION) </th>
            
    </tr>

@foreach (var item in Model)
{
    @Html.HiddenFor(model => item.BRANCH_ID)
    <tr>

        <td> @Html.DisplayFor(modelItem => item.BRANCH_NAME) </td>
        <td> @Html.DisplayFor(modelItem => item.DESCRIPTION) </td>
        
        <td>
            @Html.ActionLink("Edit", "EditBranch", new { id = item.BRANCH_ID })
            | @Html.ActionLink("Delete", "DeleteEmp", new { id = item.BRANCH_ID }, new { onclick = "return confirm('Are sure wants to delete?');" })
        </td>
    </tr>

}

</table>

*@

<table class="table" border="1" style="border-collapse: collapse;" cellpadding="3">

    <tr>

        @*<th border="1"> @Html.DisplayNameFor(model => model.CATEGORY_NAME) </th>
            <th border="1"> @Html.DisplayNameFor(model => model.DESCRIPTION) </th>
            @* <th> @Html.DisplayNameFor(model => model.Address) </th>*@

        <th>@Html.DisplayNameFor(model => model.CMP_ID)</td>
        <th>@Html.DisplayNameFor(model => model.CMP_NAME)</td>
        <th>@Html.DisplayNameFor(model => model.BRANCH_NAME)</td>

        <th>@Html.DisplayNameFor(model => model.CREATED_BY)</td>
        <th>@Html.DisplayNameFor(model => model.CREATED_DATE)</td>
        <th>@Html.DisplayNameFor(model => model.MODIFIED_BY)</td>
        <th>@Html.DisplayNameFor(model => model.MODIFIED_DATE)</td>
        <th>@Html.DisplayNameFor(model => model.ISACTIVE)</td>
        <th>@Html.DisplayNameFor(model => model.DESCRIPTION)</td>
        <th>@Html.DisplayName("Edit / Delete")</td>

    </tr>
    @foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.BRANCH_ID)
        <tr>
            <td>@Html.DisplayFor(model => item.CMP_ID)</td>
            <td>@Html.DisplayFor(model => item.CMP_NAME)</td>
            <td>@Html.DisplayFor(model => item.BRANCH_NAME)</td>

            <td>@Html.DisplayFor(model => item.CREATED_BY)</td>
            <td>@Html.DisplayFor(model => item.CREATED_DATE)</td>
            <td>@Html.DisplayFor(model => item.MODIFIED_BY)</td>
            <td>@Html.DisplayFor(model => item.MODIFIED_DATE)</td>
            <td>@Html.DisplayFor(model => item.ISACTIVE)</td>
            <td>@Html.DisplayFor(model => item.DESCRIPTION)</td>

            <td>
                @Html.ActionLink("Edit", "EditBranch", new { id = item.BRANCH_ID })
                | @Html.ActionLink("Delete", "DeleteBranch", new { id = item.BRANCH_ID }, new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        </tr>

    }

</table> 